# en_core_web_sm==3.3.0
Flask==1.1.2
spacy==3.3.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
click==8.0.1
colorama==0.4.4
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
Werkzeug==1.0.1
youtube_transcript_api
